*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.nav-container{  
   height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    gap: 100px;
    width: 100%;
}

.nav-bar{
     font-family: "Playfair Display", serif;
     display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    }

.nav-bar ul {
       display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.nav-bar ul li.link a{
   text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 0px;
    margin: 0 25px;
    cursor: pointer;
   
}

.link:hover{
    border-bottom: 2px solid #c89b3c;
}

.logo{
    color: white;
   
    cursor: pointer;
     text-align: center;
    
    
}

.logo h1{
    font-family:"Great Vibes", cursive;
    margin-bottom: -10px;
}

.logo p{
    color: #c89b3c;
  
}

.logo span{
    color: #c89b3c;
    
}

.button{
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
  margin-left: 70px;
   font-size: 10px;
   background: transparent;
   border: 1px solid #c89b3c;
   color: white;
    
   transition: all 0.3s ease-in-out;
}

.button a{
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: #443004;
    border: none;
    scale: 1.2;
}

.menu-toggle{
    display: none;
}

.nav-home{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width:1300px){
     .nav-container{
       display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    }

    .nav-bar{
       
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    height: 70vh;
    z-index: -1;
         background: #131313;
    }
   
   .nav-bar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    
   }
    
   
    .nav-bar.active{
        top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
    }

    .fa-spoon{
    color: white;
    font-size: 20px;
    
}



.button{
    height: 30px;
    width: 300px;
    margin-left: 0;
}

.menu-toggle{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-top: -20pxpx;  
}

.menu-toggle i{
color: #c89b3c;
transform: rotate(30deg) scaleX(2.0);

}

.menu-toggle.is-active .fa-spoon:nth-child(1){
    transform: translateY(30px) rotate(45deg) scaleX(2.0);
}
.menu-toggle.is-active .fa-spoon:nth-child(3){
    transform: translateY(-30px) rotate(-45deg) scaleX(2.0);
}
.menu-toggle.is-active .fa-spoon:nth-child(2){
   opacity: 0;
}


}
/*      HERO      */
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(images/home22.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    transition: opacity 1s ease;
    position: relative;
    overflow: hidden;
    
}

.hero h1{
    font-size: 80px;

}

.hero-container p{
  color: #c89b3c;
  font-size: 30px;
 font-family: "Great Vibes", cursive;
}

.hero-container .p2{
    font-family: "Playfair display", serif;
    font-size: 15px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 200px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.hero-container button{
    padding: 8px 25px;
    font-size: 12px;
    border: none;
    background: rgb(90, 77, 3);
    margin-top: 20px;
    width: 170px;
    border-radius: 2px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    font-family: "Poppins" sans-serif;
    font-weight: bold;
    transition: all 0.3s ease;
}

.hero-container a{
    text-decoration: none;
    color: black;
}

.hero-container button:hover{
   background: #443004;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:600px){
    .hero h1{
        font-size: 70px;
    }
}
@media screen and (max-width:480px){
    .hero h1{
        font-size: 60px;
    }
}
@media screen and (max-width:450px){
    .hero-container h1{
        font-size: 50px;
    }

    .hero-container .p1{
        font-size: 20px;
    }
    .hero-container .p2{
        font-size: 15px;
    }
}


/*    ABOUT     */

.about{
    display: flex;
    margin: 50px;
    justify-content: space-around;
   overflow: hidden;    
}



.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
   margin-left: 30px;
   margin-right: 50px;
   animation: fadeSide 2s ease forwards;
}

.about-info h2{
    font-size: 40px;
    font-family:"Great Vibes", cursive;
    color: #c89b3c ;
   animation: fadeSide 2s ease forwards;
}

.about-info h1{
  font-size: 50px;
  animation: fadeSide 3s ease forwards;
}

.about-info p{
   font-size: 20px;

animation: fadeSide 4s ease forwards;
}


.about-btn button{
    padding: 10px 20px;
    background: black;
    border: none;
    border-radius: 2px;
     color: white;
     cursor: pointer;
     animation: fadeSide 5s ease forwards;
     width: 200px;
}



.about-image img{
   width: 100%;
    height: 400px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    object-fit: cover;
}



.hidden{
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease;
}
.reveal{
    opacity: 1;
    transform: translateX(40px);
}

/*  MODAL   */

.modal{
   opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition:  0.3s ease;
    display: flex;
    pointer-events: none;
}

.modal.show{
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.modal-content{
    background: #111;
    color: white;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    line-height: 1.8;
    text-align: center;
    font-family: "Poppins", sans-serif;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content h2{
    font-family: "Playfair display", sans-serif;
       color: #523c0c;
}

.modal-content span{
    color: #c89b3c;
}

.modal-content span, .finish{
    font-family: "Great Vibes", cursive;
}

.close-btn{
    width: 200px;
    cursor: pointer;
   padding: 5px 15px;
   margin-top: 5px;
   background-color: #c89b3c;
   border: none;
   border-radius: 5px;
}

@media screen and (max-width:1300px){
    .about-info h1{
         font-size: 40px;
    }
    .about-info h2{
        font-size: 30px;
    }

    .about-info p{
       font-size: 20px;
    }

    .about-image{
       width: 100%;
    }
}
@media screen and (max-width:960px){
    .about-info h1{
         font-size: 30px;
    }
    .about-info h2{
        font-size: 30px;
    }

    .about-info p{
       font-size: 15px;
    }

    .about-image{
        width: 400px;
    }

    .about-btn button{
      
        font-size: 15px;
    }
}
@media screen and (max-width:800px){
    .about{
        gap: 5px;
    }
    
    .about-info{
margin-left: -50px;
    }

    .about-info h1{
         font-size: 40px;
    }
    .about-info h2{
        font-size: 20px;
    }

    .about-info p{
       font-size: 15px;
       font-weight: bold;
    }

    .about-btn button{
      
        font-size: 10px;
    }
}
@media screen and (max-width:720px){
    .about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }
    
    .about-info{
        text-align: center;
    }

    .about-info h1{
         font-size: 30px;
         text-decoration: underline;
         text-decoration-color: #c89b3c;
    }
    .about-info h2{
        font-size: 30px;
    }

    .about-info p{
       font-size: 15px;
    }

    .about-image{
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    .about-btn button{
      
        font-size: 10px;
    }
}

@media screen and (max-width:480px){
    .about-image{
    width: 300px;
    height: 300px;
    }
}


/*  MENU   */

.menu-section{
    background: #131313;
    
}

.menu-section h2{
    text-align: center;
    color: white;
    padding-top: 30px;
}

.menu-section h3{
     text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: #c89b3c;
     padding-top: 30px;
}

.menu-section p{
    text-align: center;
}

.menu-slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.menu-slider::-webkit-scrollbar{
    display: none;
}

.menu-card{
    min-width: 300px;
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    flex-shrink: 0;
    transition: 0.5s ease;
    scroll-snap-align: center;
}

.menu-card:hover{
    transform: translateY(-10px);
}

.menu-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.slider-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.slider-buttons button{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}

.slider-buttons button:hover{
    transform: scale(1.1);
}

 .menu-btn{
   
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
 }

 .menu-btn button{
     background: transparent;
     border: none;
     transition: 0.3s;
 }
 .menu-btn button a{
    text-decoration: none;
     border: 1px solid #c89b3c;
     padding: 6px 30px;
     color: #c89b3c;
     transition: 0.3s ease;
      cursor: pointer;
    width: 200px;
 }

 .menu-btn button a:hover{
    color: black;
 }

 .menu-btn button:hover{
    color: black;
    background: #c89b3c;
    box-shadow: 0 0 20px rgba(247, 190, 3, 0.2);
    transform: scale(1.1);
 }
 
 /*  GALLERY  */

 
 

 .gallery-head{
    text-align: center;
 }

.gallery-head span{
    color: #c89b3c;
}

 .gallery-head h3{
    color: #c89b3c;
    font-family: "Great Vibes", cursive;
    font-family: 50px;
 }
 .gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
 }

 .gallery-item{
    overflow: hidden;
    border-radius: 20px;
    position: relative;
 }

 .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
 }

 .gallery-item:hover img{
    transform: scale(1.1);
 }

 .large{
    height: 500px;
 }

 .small{
    height: 300px;
 }

 .overlay{
     color: white;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
 }

 .gallery-item:hover .overlay{
    opacity: 1;
 }

 @media screen and (max-width:768px){
    .gallery-grid{
        grid-template-columns: 1fr;
    }

    .large, .small{
        height: 300px;
    }
 }

 /*  RESERVATION  */

 .reservation{
    min-height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(images/reserverbk1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
 }

 .reservation-overlay{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: white;
 }

 .sub-title{
    color: #d4a762;
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    margin-bottom: 10px;
 }

 .reservation h2{
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
 }

 #reservation-form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }

 #reservation-form input{
    padding: 18px;
    background: transparent;
    border: 1px solid rgba(247, 190, 3, 0.2);
    color: white;
    font-size: 1rem;
    outline: none;
 }

#reservation-form select{
    background: transparent;
     padding: 18px;
    background: transparent;
    border: 1px solid rgba(247, 190, 3, 0.2);
    color: white;
    font-size: 1rem;
    outline: none;
}

#reservation-form select option{
    background: #111;
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
    cursor: pointer;
}

 #reservation-form input:focus, #reservation-form select:focus{
    border-color: #d4a762;
 }

 #reservation-form button{
    background: rgba(247, 190, 3, 0.2);
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
 }

 #reservation-form button:hover{
    background: #4d320b;
 }


 @media screen and (max-width:768px){
    #reservation-form{
        grid-template-columns: 1fr;
    }
    .reservation h2{
        font-size: 2rem;
    }
    #reservation-form button{
        padding: 18px 0px;
    }
 }

 .footer{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(images/footerimg.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 10%;
    color: white;
    align-items: center;
    text-align: center;
 }

 .footer-overlay{
    position: absolute;
    inset: 0;
   
 }

 .footer-container{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
 }

 .footer-box h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #c89b3c;
    font-family: "Great Vibes", cursive;
 }

 .footer-box h3{
    margin-bottom: 20px;
    color: #c89b3c;
    font-family: "Playfair display", cursive;
 }

 .footer-box p, .footer-box a{
    color: #ddd;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    line-height: 1.7;
     align-items: center;
    justify-content: center;
    display: flex;
 }

 
 
 .footer-box a:hover{
    color: #c89b3c;
 }

 .socials{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .socials i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
   
 }

 .socials i:hover{
    color: #c89b3c;
    transform: translateY(-3px);
 }

 .footer-bottom{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid rgba(247, 190, 3, 0.2);
    padding-top: 20px;
    font-family: "Great Vibes", cursive;
 }

 @media screen and (max-width:900px){
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer{
        text-align: center;
    }
    .socials{
        justify-content: center;
    }
 }

 /* FULL MENU */

 .full-menu{
    background: #131313;
 }
 
 .menu-header{
    text-align: center;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
   url(images/home22.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   object-fit: cover;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   padding: 50px;
   color: white;
  
 }

 .menu-header, h3, h1, p{
  margin-bottom: 30px;
 }

 .menu-header h3{
    color: #c89b3c;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
 }

 .menu-header h1{
    font-family: "Playfair display", cursive;
    font-weight: bold;
 }

 .menu-header p{
    font-family: "Montserrat", cursive;
    color: #c89b3c;
 }

 .menu-header .btn-mne{
  background: #c89b3c;
  border: none;
  padding: 8px 40px;
  box-shadow: rgba(0,0,0,0.7);
  transition: 0.3s ease;
  border-radius: 5px;
 }

 .btn-mne a{
    text-decoration: none;
    color: black;
 }

 .btn-mne:hover{
   background: #4d320b;
 }

 .menu-category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 80px 10%;
    background: #c89b3c;
     color: white;
     background: transparent;
     margin-top: -20px;
     padding: 30px;
    border-top: 1px solid rgba(247, 190, 3, 0.2);
 }

 .menu-image img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
 }

 .item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
 }

 .item-top h4{
    font-family: "Playfair display", serif;
    color: rgb(223, 209, 130);
 }

  .item-top span{
    color: goldenrod;
  }

 .menu-item{
    margin-bottom: 35px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
 }

 .menu-text h3{
   margin-bottom: 30px;
   font-family: "Great Vibes", cursive;
   color: #523c0c;
 }

 .reverse{
    direction: rtl;
 }

 .reverse .menu-text{
    direction: ltr;
 }

 @media screen and (max-width:768px){
    .menu-category{
        grid-template-columns: 1fr;
    }
 }
 @media screen and (max-width:580px){
    .menu-category{
        grid-template-columns: 1fr;
    }
    .menu-image img{
        object-fit: cover;
    }
 }


 .footer-menu, .end{
    z-index: 2;
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid rgba(247, 190, 3, 0.2);
    padding-top: 20px;
    font-family: "Great Vibes", cursive;
    color: #814e06;
 }